@import "tailwindcss";

/* Make leaflet map fill its container */
.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Reset default styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f9fafb;
}

/* Aqua overlay behind everything */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 255, 255, 0.2); /* semi-transparent aqua */
  z-index: -1;
}
